/*font*/
html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
}

.font-xxs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}

.font-xs {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
}

.font-sm {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.667;
}

.font-md {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.428;
}

.font-lg {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 2.222;
}

.font-xl {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.667;
}

.font-xxl {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 1.111;
}

.content-title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.667;
}

.aricle-title {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.428;
}

.segment-title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.667;
}

/*sr-only*/
.sr-only {
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/*image*/
img {
  display: block;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-indent: -9999px;
}

/*button*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*a*/
a {
  display: block;
  cursor: pointer;
}

/*layout*/
.grid-width {
  margin: 0 auto;
  width: 1320px;
}

.content {
  padding: 160px 0;
}
.content .content-header {
  text-align: center;
}
.content .content-body {
  margin-top: 120px;
}

/*header*/
.global-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 9000;
  width: 100%;
  border-bottom: 2px solid #eee;
}
.global-header .header-logo {
  border-right: 2px solid #eee;
}
.global-header .header-logo-img {
  margin: 35px 40px;
  height: 50px;
}
.global-header nav {
  display: flex;
}
.global-header nav ul {
  display: flex;
}
.global-header .global-nav {
  border-right: 2px solid #eee;
}
.global-header .global-nav li {
  padding: 0 25px;
  color: #eee;
  transition: 0.5s;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.22;
}
.global-header .global-nav li:hover {
  color: #a00f16;
}
.global-header .global-nav li a {
  padding: 40px 0;
}
.global-header .sub-nav {
  padding: 0 38px;
}
.global-header .sub-nav li {
  padding: 0 10px;
}
.global-header .sub-nav li a {
  padding: 34px 0;
  color: #eee;
}
.global-header .sub-nav li img {
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
.global-header .sub-nav li span {
  text-align: center;
  font-size: 12px;
}

/*content-nav*/
.content-nav {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.content-nav .content-nav-list {
  display: flex;
}
.content-nav .content-nav-list li {
  width: 33.33%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.content-nav .content-nav-list li:hover {
  color: #a00f16;
  border-bottom-color: #a00f16;
}

/*main-banner*/
.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 110px 0 360px 0;
  background-image: url(../images/sub1_about/main_banner.jpg);
  background-attachment: fixed;
}
.main-banner .logo {
  height: 80px;
}
.main-banner .logo img {
  height: 100%;
}
.main-banner .main-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}
.main-banner .main-body article {
  padding: 80px 60px;
  width: 320px;
  height: 320px;
  border-radius: 160px;
  opacity: 0.8;
  color: white;
  text-align: center;
}
.main-banner .main-body article:nth-of-type(1) {
  background-color: #f4c4c4;
}
.main-banner .main-body article:nth-of-type(2) {
  background-color: #9f2e33;
}
.main-banner .main-body article:nth-of-type(3) {
  background-color: #9c6063;
}
.main-banner .main-body article p {
  margin-top: 20px;
}
.main-banner .main-body article:not(.first) {
  margin-left: -40px;
}

/*section history*/
.history .article-wrapper {
  display: flex;
  justify-content: space-around;
}
.history .article-wrapper article {
  width: calc(25% - 40px);
  text-align: center;
}
.history .article-wrapper .img-wrapper {
  margin: 0 auto;
  width: 130px;
}
.history .article-wrapper img {
  width: 100%;
  height: auto;
}
.history .article-wrapper .segment-title {
  margin-top: 20px;
}

.history p {
  margin-top: 80px;
  text-align: center;
}

.history .timeline {
  position: relative;
  margin-top: 80px;
}
.history .timeline .artilce-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.history .timeline article {
  display: flex;
  width: calc(50% - 90px);
}
.history .timeline article.odd {
  justify-content: flex-end;
  margin-top: -50px;
  text-align: right;
}
.history .timeline article.odd.first {
  margin-top: 0px;
}
.history .timeline article.odd img {
  margin-left: auto;
}
.history .timeline article.odd p {
  text-align: right;
}
.history .timeline article.odd .pointer {
  margin-right: -5px;
  margin-left: 95px;
}
.history .timeline article.odd .pointer::after {
  right: 0;
}
.history .timeline article.even {
  margin-top: 160px;
  text-align: left;
}
.history .timeline article.even p {
  text-align-last: left;
}
.history .timeline article.even .pointer {
  order: 1;
  margin-right: 95px;
  margin-left: -5px;
}
.history .timeline article.even .pointer::after {
  left: 0;
}
.history .timeline article.even .segment {
  order: 2;
}
.history .timeline article .segment .segment-title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
}
.history .timeline article .segment .segment-title span {
  margin-right: 3px;
  font-weight: 500;
  color: #a00f16;
}
.history .timeline article .segment .segment-title strong {
  margin-right: 3px;
  font-weight: 500;
}
.history .timeline article .segment img {
  max-width: 100%;
  height: auto;
  margin-top: 5px;
}
.history .timeline article .segment p {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
  font-weight: 500;
}
.history .timeline article .segment p strong {
  color: #a00f16;
}
.history .timeline article .pointer {
  position: relative;
  margin-top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #a00f16;
}
.history .timeline article .pointer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 2px;
  background-color: #a00f16;
}
.history .timeline .vertical-bar {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  width: 2px;
  height: 2750px;
  background-color: #aaa;
}

/*contact-us*/
.contact-us .form-group {
  display: flex;
  border-bottom: 1px solid #eee;
}

.contact-us .input-label {
  padding-left: 25px;
  width: 15%;
  background-color: #dedede;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 80px;
}
.contact-us .input-label.essential::after {
  content: "*";
  display: inline;
  margin-left: 3px;
  color: #a00f16;
}

.contact-us .input-wrapper {
  padding: 20px;
  width: 85%;
}

.contact-us select,
.contact-us option,
.contact-us input {
  width: 92%;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.contact-us .row {
  display: flex;
}
.contact-us .row .form-group {
  width: 50%;
}
.contact-us .row .input-label {
  width: 30%;
}
.contact-us .row .input-wrapper {
  width: 60%;
}

.contact-us .reply .input-wrapper {
  display: flex;
}

.contact-us .reply .radio-input {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.contact-us .reply .radio-input input {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.contact-us .buttons {
  display: flex;
  justify-content: center;
}
.contact-us .buttons button {
  margin: 15px;
}

/*.press*/
.press article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #a00f16;
  padding: 10px;
}
.press article:hover .segment-title {
  font-size: 22px;
}
.press article:hover .icon {
  color: red;
}
.press article .press-company {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42;
  color: #a00f16;
}
.press article .press-company::after {
  content: "|";
  display: inline;
  padding: 0px 5px 0px 8px;
}
.press article .publish-date {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42;
}
.press article .segment-title {
  margin-top: 3px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 40px;
  transition: 0.5s;
}
.press article p {
  margin-top: 3px;
  color: #555;
}
.press article .icon {
  font-size: 20px;
  outline: 2px solid red;
}
